@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
	margin: 0;
	padding: 6px;
	font-family: Satisfy;
}
.container{
	width: 100%;
	min-height: 100vh;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	overflow: hidden;
}
.navbar{
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #ffffff;
	font-family: Satisfy;
	/* position: -webkit-sticky; */
	/* position: sticky; */
	top: 0;
}
h1 {
	font-family: Satisfy;
	font-size: 35px;
}
.logo{
	width: 60px;
	cursor: pointer;
	margin: 30px 0;
}
.menu-icon{
	width: 25px;
	cursor: pointer;
	display: none;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
nav ul li a{
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #000;
	font-size: 25px;
}
nav ul li a:hover{
	color: #1a8cff;
}
@media only screen and (max-width: 700px) {
  
	nav ul{
		width: 100%;
		background: #1a8cff;
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 2;
	}
	
	nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	nav ul li a{
		color: #fff;
	}
	
	.menu-icon{
		display: block;
	}
}